.inputField {
  margin: 40px auto;
  font-size: 20px;
  display: flex;
  justify-content: center;
  input {
    padding: 2px 8px;
    padding-right: 80px;
    border-radius: 4px;
  }
  button {
    right: 76px;
    padding: 2px 8px;
    color: #fff;
    outline: none;
    border: none;
    background-color: #28a745;
    &:hover {
      opacity: 0.6;
    }
  }
}
